node_modules
.next
dist
coverage
.turbo
.DS_Store
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
prisma/dev.db
prisma/dev.db-journal
prisma/generated
data-private/*
!data-private/.gitkeep
*.log
*.tsbuildinfo
